.product-list {
  list-style-type: none;
  padding: 0;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.product-price,
.product-brand {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
}